.blog-banner {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 10%;
}
.blog-title {
    color: gold;
    font-family: fantasy;
    text-align: center;
    margin-bottom: 50px;
}
.blog-subtitle {
    color: gold;
    font-family: fantasy;
}
.list-items {
    color: silver;
    padding: 10px;
    margin-bottom: 10px;
}
.description {
    background-color:#744848;
}
.ingredients {
    background-color: #ae642b;
}
.steps {
    background-color: #262852;
}
body {
    background-color: rgb(62, 43, 46);
    margin: auto;
}
a {
    color: silver;
}
p {
    color: silver;
}
div {
    padding: 30px;
    margin-bottom: 10px;
    color: #EEEEEE;
}